.App-header {
  max-height: 100;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding-top: 20px;
}

.App-taskbar {
  max-height: 100;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-calendar {
  padding-top: 30px;
  padding-left: 20px;
  text-align: center;
}

.Week-of-text {
  font-weight: bold;
  text-align: left;
}

.Week-div {
  display: grid;
  grid-template-columns: 170px 170px 170px 170px 170px 170px 170px;
  gap: 7px;
}

.Sunday-div {
  height: 30px;
  background-color: rgb(122, 252, 252);
  border-radius: 5px;
}

.Monday-div {
  height: 30px;
  background-color: lightblue;
  border-radius: 5px;
}

.Tuesday-div {
  height: 30px;
  background-color: lightblue;
  border-radius: 5px;
}

.Wednesday-div {
  height: 30px;
  background-color: lightblue;
  border-radius: 5px;
}

.Thursday-div {
  height: 30px;
  background-color: lightblue;
  border-radius: 5px;
}

.Friday-div {
  height: 30px;
  background-color: lightblue;
  border-radius: 5px;
}

.Saturday-div {
  height: 30px;
  background-color: rgb(122, 252, 252);
  border-radius: 5px;
}

.Date-div {
  height: 150px;
  background-color: white;
  border-radius: 5px;
  border-style: inset;
  border-color: powderblue;
  text-align: left;
  padding-left: 5px;
}

.Blank-div {
  height: 150px;
  background-color: white;
}

.Date-text {
  font-size: small;
}
